.Banner {
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    color: #000000;
    background-color: #3bc37d;
    border: 0.25vw solid #000000;
    border-radius: 2vw;
}